{% extends 'dataviz_cash_m/layouts/base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" sizes="76x76" href="{% static 'dataviz_cash_m/css/suivi_produit.css' %}">
<style>
    .myclass {
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
        background-color: #FFFFFF;
        width: 40%;
        margin: auto;
        height: 30vh;
        background-color: #fff;
        border: 1px;

        font-size: 20px;
        padding: 24px;
        color: var(--baci-orange);
        font-weight: 800;
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="myclass">
        <p style="color: red; font-size: 30px">
            <i class="bi bi-exclamation-triangle-fill"></i>
        </p>
        <p>Désolé, vous n'êtes pas autorisé à acceder à cette page !</p>
    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}