{% extends 'layouts/base.html' %}

{% block title %} Modifier le mot de passe {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" sizes="76x76" href="/static/css/auth.css">
{% endblock stylesheets %}

{% block content %}

    <div class="wrapper" style="height: 80vh">
        <div class="connexion-container">
            <div class="form-header">
                <h3>Message</h3>
            </div>
            <div class="form-body">
                <p>Le mot de passe de {{ customer }} a bien été reinitialisée</p>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

</script>

{% endblock javascripts %}