<!-- Navbar -->
<nav class="navbar navbar-light sticky-top nav-bar">
  <div class="container-fluid mx-4">
    <a class="navbar-brand"><img src="/static/img/logo-baci.png" style="height:35px;width:auto;"></a>
    <div class="d-flex">
    
      {% if user.email == 'baci@banqueatlantique.com' %}
        <a id="connexion" href={% url 'auth:reset-password' %} style="font-size: 18px; margin-right:20px">
          {% comment %} <i class="bi bi-person-fill" style="font-size: 22px;"></i> {% endcomment %}
           changer 
        </a>
      {% endif %}
        
      {% if user.is_authenticated %}
        <a id="connexion" href={% url 'auth:logout' %} style="font-size: 18px;">
          <i class="bi bi-person-fill" style="font-size: 22px;"></i>
           Déconnexion 
        </a>
      {% else %}
        <a id="connexion" href={% url 'auth:login' %} style="font-size: 18px;">
          <i class="bi bi-box-arrow-in-right" style="font-size: 22px;"></i>
          Connexion 
        </a>
      {% endif %}
  
    </div>
  </div>
</nav>