{% comment %} <div class="wrapper">
    <div class="main">
      Main content
    </div>
    <div class="sidebar">
  
        <div id="choice-produit">
          <!-- <label pe-3>Produit: </label> -->
            <select id="produit" name="produit" class="choice-selector">
                <option value="anet">ANET</option>
                <option value="tpe">TPE</option>
                <option value="ecnps">E-CNPS</option>
                <option value="efacture">E-Facture</option>
                <option value="acs">ACS</option>
                <option value="ramassage">Ramassage</option>
          </select>
        </div>
  
        <div>
            <!-- <label for="start">Période:</label> -->
            <input type="date" id="start" name="trip-start" class="choice-selector"
                value="2018-07-22"
                min="2018-01-01" max="2018-12-31">
        </div>
    </div>
</div> {% endcomment %}