{% extends 'finlab/elements/layouts/outer-footer-layout.html' %}
{% load static widget_tweaks %}

{% block title %} {{ page_title }} {% endblock %}

{% block additional_css %}

{% endblock %}



{% block message %}
{% include 'finlab/elements/alert.html' %}
{% endblock %}


{% block content %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Affectation </h4>
            </div>
            <div class="card-body">
                <div id="message">
                </div>
                <form id="user_perm"  method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-sm-12 mb-3">
                            <label class="form-label">
                                Chargé d'affaire {% if form.gestionnaire.field.required %}<span class="text-danger">*</span>{% endif %}
                            </label>
                            {{ form.gestionnaire|attr:"class:form-control default-select form-control-lg" }}
                            <div class="text-danger w-100 d-block mt-1 ">{{ form.gestionnaire.errors }}</div>
                        </div>

                        <div class="col-sm-12 mb-3">
                            <label class="form-label">
                                Agence {% if form.agence.field.required %}<span class="text-danger">*</span>{% endif %}
                            </label>
                            {{ form.agence|attr:"class:form-control default-select form-control-lg" }}
                            <div class="text-danger w-100 d-block mt-1 ">{{ form.agence.errors }}</div>
                        </div>

                    </div>
                    <a href="{% url 'agency_manager:gestionnaire' %}" class="btn btn-primary mt-5"> Annuler</a>
                    <button type="submit" class="btn btn-secondary mt-5">Sauvegarder</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    var demo1 = $('select[name=permissions]').bootstrapDualListbox(
        {
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            moveAllLabel: 'Move all',
            moveSelectedLabel: 'Move selected'
        }
    );
</script>
{% endblock %}


