{% extends 'finlab/elements/layouts/outer-footer-layout.html' %}
{% load static widget_tweaks %}

{% block title %} {{ page_title }} {% endblock %}

{% block additional_css %}

{% endblock %}



{% block message %}
{% include 'finlab/elements/alert.html' %}
{% endblock %}


{% block content %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ page_title }}</h4>
            </div>
            <div class="card-body">
                <div id="message">
                </div>
                <form id="user_perm"  method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label class="form-label">
                                Nom {% if form.zone_name.field.required %}<span class="text-danger">*</span> {% endif %}
                            </label>
                            {{ form.zone_name|attr:"type:text"|attr:"class:form-control"|attr:"placeholder:Non de la zone" }}
                            <div class="text-danger w-100 d-block mt-1">{{ form.zone_name.errors }}</div>
                        </div>
                    <div class="mb-3 col-sm-6">
                        <label class="form-label">
                            Date d'ouverture {% if form.date_create.field.required %}<span class="text-danger">*</span>{% endif %}
                        </label>
                        {% if form.date_create %}
                            {{ form.date_create|attr:"class:form-control"|attr:"type:date"}}
                        {% else %}
                            <input class="form-control" type="date" readonly="" placeholder="Zone" value="{{ zone_obj.date_create }}">
{#                            {{ zone_obj.date_create|attr:"class:form-control"|attr:"type:date"|attr:"readonly:readonly"}}#}
                        {% endif %}
                        <div class="text-danger w-100 d-block mt-1">{{ form.date_create.errors }}</div>
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label class="form-label">
                            Chef de zone {% if form.zone_chief.field.required %}<span class="text-danger">*</span>{% endif %}
                        </label>
                        {{ form.zone_chief|attr:"class:form-control default-select form-control-lg" }}
                        <div class="text-danger w-100 d-block mt-1 ">{{ form.zone_chief.errors }}</div>
                    </div>

                    </div>
                    <a href="{% url 'agency_manager:zone' %}" class="btn btn-primary mt-5"> Annuler</a>
                    <button type="submit" class="btn btn-secondary mt-5">Sauvegarder</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional_js %}
<script type="text/javascript">
    var demo1 = $('select[name=permissions]').bootstrapDualListbox(
        {
            preserveSelectionOnMove: 'moved',
            moveOnSelect: true,
            moveAllLabel: 'Move all',
            moveSelectedLabel: 'Move selected'
        }
    );
</script>
{% endblock %}


