{% extends 'finlab/elements/layouts/outer-footer-layout.html' %}
{% load static widget_tweaks %}

{% block title %} {{ page_title }} {% endblock %}

{% block additional_css %}

    {% for cssurl in dz_array.pagelevel.finlab.finlab_views.css.users %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}

{% endblock %}


{% block message %}
{% include 'finlab/elements/alert.html' %}
{% endblock %}


{% block content %}

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ page_title }}</h4>
                {% if perms.agency_manager.add_zone %}
                <a href="{% url 'agency_manager:zone-add' %}" class="btn btn-primary btn-sm content-justify-right">
                    Nouvelle Zone  <span class="btn-icon-end"><i class="fa fa-plus"></i></span>
                </a>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md ck-table">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Chef de Zone</th>
                                <th scope="col">Agences</th>
                                <th scope="col">Gestionnaires</th>
                                {% if perms.auth.change_zone or perms.auth.delete_zone %}
                                <th scope="col">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>

                            {% for zone in zones %}
                            <tr>
                                 <td>
                                    <a href="{% url 'agency_manager:details-zone' id=zone.id %}">
                                        <div class="d-flex align-items-center">
                                            <span class="w-space-no">{{ zone.zone_name }}</span>
                                        </div>
                                     </a>
                                </td>
                                <td>{{ zone.zone_chief }}</td>

                                 <td>
                                    <span class="badge badge-{{ colors.dark }}">
{#                                        <i class="fa-sharp fa-solid fa-building-columns"></i>#}
                                        <i class="fa-sharp fa-solid fa-building-columns" aria-hidden="true"></i> &nbsp;{{ zone.nb_agences }}
                                    </span>
                                </td>

                                <td>
                                    <span class="badge badge-{{ colors.dark }}">
                                        <i class="bi bi-people-fill" aria-hidden="true"></i> &nbsp;{{ zone.nb_gestionnaires }}
                                    </span>
                                </td>

                                {% if perms.agency_manager.change_zone or perms.agency_manager.delete_zone %}
                                <td>
                                    <span class="sweetalert d-flex">

                                        {% if perms.agency_manager.change_zone %}

                                        <a href="{% url 'agency_manager:edit-zone' id=zone.id %}" class="btn btn-primary shadow btn-xs sharp me-1" data-bs-toggle="tooltip"
                                            data-placement="top" title="Modifier">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.agency_manager.delete_zone %}
                                        <a href="{% url 'agency_manager:delete-zone' id=zone.id %}" class="btn btn-danger shadow btn-xs sharp sweet-success-cancel" data-bs-toggle="tooltip"
                                            data-placement="top" title="Supprimer"><i class="fa fa-trash"></i>
                                        </a>
                                        {% endif %}
                                    </span>
                                </td>
                                {% endif %}
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav mt-5>
                    <p>
                        <span class="current">
                            Page {{ zones.number }} of {{ zones.paginator.num_pages }}.
                        </span>
                    </p>

                    <ul class="pagination pagination-gutter  justify-content-end">
                        <li class="page-item page-indicator ">
                            <a class="page-link" href="{% if zones.has_previous %}
                                                        ?page={{ zones.previous_page_number }}
                                                        {% else %}
                                                        javascript:void(0);
                                                        {% endif %}">
                                <i class="la la-angle-left"></i></a>
                        </li>

                        {% for i in zones.paginator.page_range|slice:":3" %}
                            <li class="page-item {% if zones.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{i}}">{{i}}</a>
                            </li>
                        {% endfor %}

                        {% if zones.number > 3 %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ zones.number }}">{{ zones.number }}</a>
                            </li>
                        {% endif %}

                        <li class="page-item page-indicator ">
                            <a class="page-link"  href="{% if zones.has_next %}
                                                        ?page={{ zones.next_page_number }}
                                                        {% else %}
                                                        javascript:void(0);
                                                        {% endif %}">
                                <i class="la la-angle-right"></i></a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional_js %}
    {% for jsurl in dz_array.pagelevel.finlab.finlab_views.js.users %}
        <script src="{% static jsurl %}"></script>
    {% endfor %}

<script>
    $('.sweet-success-cancel').on('click', function (event) {
           event.preventDefault();
           const url = $(this).attr('href');
           console.log(url)

           Swal.fire({
               title: 'Êtes vous sûr ?',
               text: "Cette opération est irreversible !",
               type: "warning",
               icon: 'question',
               showCancelButton: true,
               confirmButtonText: "Yes, delete it !!",
               cancelButtonText: 'Delete',
               confirmButtonColor: "#DD6B55"

           }).then((result) => {
               if (result.value) {
                   window.location.href = url;
               } else if (result.dismiss === Swal.DismissReason.cancel) {
                   event.preventDefault();
               }
           })
       });
</script>

{% endblock %}


