<!--
=========================================================
* BACI Dashboard - v1.0.0
=========================================================
-->
{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dataviz_cash_m/img/logo-baci.png' %}">
  <link rel="icon" type="image/png" href="{% static 'dataviz_cash_m/img/logo-baci.png' %}">
  <link rel="stylesheet" sizes="76x76" href="{% static 'dataviz_cash_m/css/style.css' %}">

  <title>
    BACI - {% block title %}{% endblock %} | Dashboard
  </title>

  {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}
  {% include "dataviz_cash_m/includes/css-link.html" %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{#    <link rel="stylesheet" href="{% static 'finlab/vendor/' %}">#}

  <!-- CSS personnalisé de la page enfant -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="body-custom">

  {% comment %} {% include "includes/sidebar.html" %} {% endcomment %}
  {% include "dataviz_cash_m/includes/navbar.html" %}

  <main class="main-custom">
    
    {% block content %}{% endblock content %}

  </main>

  {% comment %} {% include "includes/fixed-plugin.html" %} {% endcomment %}

  {% include "dataviz_cash_m/includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
