/*============== AG-Grid Config  ===============*/
.ag-theme-material {
    --ag-header-height: 22px;
    --ag-header-foreground-color: #E67900 !important;
    --ag-header-background-color: #F16E00 !important;
    --ag-header-color: #FFFFFF !important;
    --ag-header-cell-hover-background-color: #572F19 !important;
    --ag-header-cell-moving-background-color: rgba(232, 125, 47, 0.4);

    --ag-control-panel-background-color: #eee;

    --ag-header-column-separator-height: 100%;
    --ag-header-column-separator-width: 5px;

    --ag-header-column-resize-handle-display: block;
    --ag-header-column-resize-handle-height: 100%;
    --ag-header-column-resize-handle-width: 1px;
    --ag-header-column-resize-handle-color: #FFFFFF;

    --ag-row-hover-color: #c8c9c9 !important;
    /*--ag-row-hover-color: #F16E00 !important;*/
    --ag-font-size: 10px !important;
    --ag-font-family: poppins !important;
}

.ag-header-group-cell-label {
    text-align: center !important;
}

.ag-header-group-cell {
    font-size: 22px;
    color: #525254;
    font-weight: 900;
}

.ag-theme-material .ag-header-cell-label {
    color: #fff !important;
    font-size: 11px;
    font-weight: 900;
    text-align: center !important;
}

/*======================= End Ag-Grid config ==================================*/

.custom {
    font-size: 13px;
    color: #656569;
    font-weight: 500;
}

.table-header {
    text-align: center !important;
    height: 40px;
    padding: 10px;
    margin-top: 0;
}

.ag-table {
    width:98%;
    margin: auto
}

.row-vert-ciel {
    background-color: #d3f5d2 !important;
    /*color: #06c400;*/
    font-weight: 500;
}

/*============== End Table CSS ===============*/




.row-rouge {
    color: #fff;
    font-weight: 500;
    background-color: #f04141;
    font-size: 13px;
}
.row-orange {
    color: #fff;
    font-weight: 500;
    background-color: #ff6823;
    font-size: 13px;
}
.row-vert-ciel {
    background-color: #a1f79e;
    /*color: #a1f79e;*/
    font-weight: 500;
    font-size: 13px;
}
.row-vert {
    color: #fff;
    font-weight: 500;
    background-color: #04c424;
    font-size: 13px;
}

.row-ras {
    font-weight: 500;
    font-size: 13px;
}

.row-prod {
    color: #46484D !important;
    font-size: 18px !important;
}

.row-table {
    color: #46484D !important;
    font-size: 15px !important;
}