{% extends 'finlab/elements/layouts/outer-footer-layout.html' %}
{% load widget_tweaks %}

{% load static %}

{% block additional_css %}
    {% for cssurl in dz_array.pagelevel.finlab.finlab_views.css.form_wizard %}
    <link rel="stylesheet" href="{% static cssurl %}" >
    {% endfor %}
{% endblock %}

{% block message %}
{% include 'finlab/elements/alert.html' %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ page_title }}</h4>
                    <div>
                        <button id="sup" class="btn btn-danger btn-sm content-justify-right">
                        <i class="fa fa-minus"></i>
                        </button>
                        <button id="add" class="btn btn-success btn-sm content-justify-right">
                            <span class="btn-icon-end"><i class="fa fa-plus"></i></span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div id="smartwizard" class="form-wizard order-create">
                        <ul class="nav nav-wizard">
                            <li><a class="nav-link" href="#info-emprunter">
                                <span>1</span>
                            </a></li>
                            <li><a class="nav-link" href="#ligne-credit">
                                <span>2</span>
                            </a></li>
                            <li><a class="nav-link" href="#enregistrer">
                                <span>3</span>
                            </a></li>
                        </ul>
                        <div class="tab-content p-2">
                            <form id="user_perm"  method="post" action="{% url 'credit:add-credit' %}">
                                {% csrf_token %}
                                <div id="info-emprunter" class="tab-pane" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-6 mb-2">
                                            <div class="mb-3">
                                                <label class="text-label form-label">
                                                    Racine {% if form.racine.field.required %}<span class="text-danger">*</span>{% endif %}
                                                </label>
                                                {{ form.racine|attr:"class:form-control"|attr:"type:text"|attr:"id:search-input"|attr:"placeholder:Tapez la racine d'un client" }}
    {#                                            <input type="text" id="search-input" class="form-control" placeholder="Tapez la racine d'un client" required>#}
                                                <div class="text-danger w-100 d-block mt-1">{{ form.racine.errors }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="mb-3">
                                                <label class="text-label form-label">Nom du client</label>
                                                {{ form.nom|attr:"class:form-control"|attr:"type:text"|attr:"id:name"|attr:"placeholder:Le nom du client" }}
    {#                                            <input type="text" name="nom" id="name" value="" class="form-control" placeholder="Le nom du client s'affichera ici" required>#}
                                                 <div class="text-danger w-100 d-block mt-1">{{ form.nom.errors }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-2">
                                            <div class="mb-3">
                                                <label class="text-label form-label">Agence</label>
                                                <input type="text" class="form-control" id="inputGroupPrepend2" aria-describedby="inputGroupPrepend2" placeholder="L'agence du client" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-3" style="height: 100px">
                                            <div class="mb-3">
                                                <ul id="search-results"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ligne-credit" class="tab-pane" role="tabpanel" style="height: 45vh; overflow: hidden; overflow-y: scroll;">
                                    <div id="line-container" class="row p-md-3">
                                        <div class="col-sm-3 mb-2">
                                            <h4>Ligne 1</h4>
                                        </div>
                                        <div class="col-6 col-sm-5 mb-2">
                                            <div class="mb-3">

                                                <label class="text-label form-label">Type de crédit *</label>
                                                <select class="form-control default-select wide" name="type_credit" required>
                                                    {% for choice in choices %}
                                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-4 mb-2">
                                            <div class="mb-3">
                                                <label class="text-label form-label">Montant *</label>
                                                <input class="form-control" type="number" name="montant" placeholder="Saisissez le montant" required>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div id="enregistrer" class="tab-pane" role="tabpanel"  style="height: 40vh; overflow: hidden; overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="my-3">
                                                <label for="comment" class="text-black font-w600 form-label">Commentaire *</label>
                                                <textarea rows="5" class="form-control" name="comment" placeholder="Comment" id="comment" required></textarea>
                                            </div>
                                            <div class="skip-email text-center">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa-solid fa-table-cells-large me-2"></i>Enregistrer
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block additional_js %}

{% for jsurl in dz_array.pagelevel.finlab.finlab_views.js.form_wizard %}
<script src="{% static jsurl %}"></script>
{% endfor %}

<script>
	$(document).ready(function(){
		// SmartWizard initialize
		$('#smartwizard').smartWizard();

        $(document).ready(function() {
    // Sélectionnez l'élément de recherche
        var searchInput = $('#search-input');

        // Ajoutez un événement d'écouteur pour l'entrée de texte
        searchInput.on('input', function() {
            // Récupérez la valeur de l'entrée de texte
            var searchQuery = searchInput.val();

            // Effectuez une requête AJAX pour récupérer les résultats de la recherche
            $.ajax({
              url: '/credit/api-clients/',  // l'URL de la vue django
              data: { q: searchQuery },  // le paramètre de recherche
              success: function(response) {
                // Mettez à jour l'affichage des résultats de la recherche
                var clients = response.clients;
                console.log(clients)

                // On vide le résultat précédent
                $("#search-results").empty();

                if (clients.length === 1) {

                  $.each(response.clients, function (index, client) {
                     $("#search-results").append("<li>" + client[0] + " - " + client[1] + " - " + client[2] + "</li>");
                  });

                  console.log(clients)
                  var name = $('#name');
                  console.log(name.val());
                  var agence = $('#inputGroupPrepend2');
                  name.val(clients[0][1]);
                  agence.val(clients[0][2]);

                }
                else {
                  // On parcourt les résultats et on les ajoute à la liste
                    $.each(response.clients, function (index, client) {
                        $("#search-results").append("<li>" + client[0] + " - " + client[1] + " - " + client[2] + "</li>");
                    });
                }
              },
              error: function (xhr, status, error) {
                console.log(error);
              }
            });
        });

    });
	});
</script>

<script>

    var inter_click = 1
    // Fonction qui ajoute une nouvelle ligne
    function addLine() {
        inter_click++;

        // Création de la div pour la nouvelle ligne
        var div = document.createElement("div");
        div.className = "row p-md-3 line";

        // Ajout des éléments dans la div
        div.innerHTML = `
        <div class="col-sm-3 mb-2">
            <h4>Ligne ${inter_click}</h4>
        </div>
        <div class="col-6 col-sm-5 mb-2">
            <div class="mb-3"><label class="text-label form-label">Type de crédit *</label>
                <select class="form-control default-select wide" name="type_credit" required>
                    {% for choice in choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-6 col-sm-4 mb-2">
            <div class="mb-3">
                <label class="text-label form-label">Montant *</label>
                <input class="form-control" type="number" name="montant" placeholder="Saisissez le montant" required>
            </div>
        </div>
        <div class="col-sm-12"><hr></div>`;

        // Ajout de la nouvelle ligne à la fin du formulaire
        var wizardDetails = document.getElementById("ligne-credit");
        {#var clone_form = document.getElementById("line-container").cloneNode(true);#}
        {#wizardDetails.appendChild(clone_form);#}
        wizardDetails.appendChild(div);
    }

    // Fonction qui supprime la dernière ligne ajoutée
    function removeLine() {
        inter_click--;
        // Récupération de toutes les lignes
        var lines = document.getElementsByClassName("line");

        // Si il y a plus d'une ligne, on supprime la dernière
        if (lines.length > 1) {
            lines[lines.length - 1].remove();
        }
    }

    // Récupération des boutons "Add" et "Supprimer"
    var addButton = document.getElementById("add");
    var removeButton = document.getElementById("sup");

    // Ajout des listeners sur les boutons
    addButton.addEventListener("click", addLine);
    removeButton.addEventListener("click", removeLine);

</script>

{% endblock %}