{% extends 'layouts/base.html' %}

{% block title %} Home {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" sizes="76x76" href="/static/css/suivi_produit.css">
{% endblock stylesheets %}

{% block content %}
  <div class="wrapper">

    {% include "suivi_produits/includes/side-bar.html" %}
    <div class="main-home">
    
    <!-- Bar -->
      <div class="banderole graph-container">
        <div style="width: 50%;">
          <p class="page-name"><i class="bi bi-house-door-fill"></i> / DMS / <span> Cash Management</span></p>
          <p class="page-title">Analytique</p>
        </div>
        
        <div style="width: 15%;">
          <div class="choice-date">
            <form method="POST" action={% url 'dms:edit-date' %}>
                <input id="idEditDate" type="date" id="start" name="trip-start"
                    value="2022-10-18"
                    min="2022-01-01" max="2022-12-31">
            </form>
          </div>
        </div>
        
        <div style="width: 15%;">
          <div id="choice-produit">
            <select id="produit" name="produit" class="choice-selector">
              <option value="anet">ANET</option>
              <option value="tpe">TPE</option>
              <option value="ecnps">E-CNPS</option>
              <option value="efacture">E-Facture</option>
              <option value="acs">ACS</option>
              <option value="ramassage">Ramassage</option>
            </select>
          </div>
        </div>
        
      </div>
    <!-- End Bar -->
    
      <div class="graph-container" style="height: 200px;">
        <div class="graph-cart" style="width: 25%;">
          <div class="graph-title">
              <h6>Portefeuille</h6>
          </div>
          <div class="graphique" id="portefeuille" style="height: 100%">
          </div>
        </div>
        
        <div class="graph-cart" style="width: 25%;">
          <div class="graph-title">
              <h6 id="kpiTitle">{{produit|upper}}</h6>
          </div>
          <div id="kpi" style="height: 100%">
          </div>
        </div>

        <div class="graph-cart" style="width: 45%;">
          <div class="graph-title">
              <h6 id="infoTitle">Détail {{produit|upper}}</h6>
          </div>
          <div class="grid-container" style="height: 100%;">
              <div id="infoProd" style="height: 100%" class="ag-theme-material"> 
              </div>
          </div>
        </div>   
      </div>
        
      <div class="graph-container" style="height: 250px;">
        <div class="graph-cart" style="width: 49%;">
          <div class="graph-title">
              <h6>Comparatif Abonnés Cibles</h6>
          </div>
          <div class="graphique" id="resumeChart" style="height: 100%">
          </div>
        </div>
        
        <!-- Evolution des abonnés par mois -->
        <div class="graph-cart" style="width: 49%;">
          <div class="graph-title">
              <h6>Evolution des abonnés par mois</h6>
          </div>
          <div class="graphique" id="idEvoProd" style="height: 100%">
          </div>
        </div>
        <!-- Fin Evolution des abonnés par mois -->
      </div>
        
      <div class="graph-container" style="height: 480px;">
          <div class="grid-container" style="height: 100%; width: 60%;">
            <h5>Tableau de répartition</h5>
            <p>des abonnés {{produit|upper}} par service</p>
            <div id="resum" style="height: 80%" class="ag-theme-material"> 
            </div>
          </div>
          
          <!-- Comparatif du taux d'equipement des produits -->
          <div class="graph-cart" style="width: 38%; margin-top: 15px">
            <div class="graph-title">
                <h6>Taux d'equipement par produits</h6>
            </div>
            <div class="graphique" id="croissance" style="height: 95%">
            </div>
          </div>
          <!-- Fin Comparatif du taux d'equipement des produits -->
      </div>
        
      <div class="graph-container" style="height: 480px;">
          <div class="grid-container" style="width: 49%; height: 100%">
            <h5>Tableau de répartition</h5>
            <p>des abonnés {{produit|upper}} par Gestionnaire</p>
            <div id="gest" style="height: 85%; width: 100%;" class="ag-theme-material">
            </div>
          </div>   

          <!-- Tableau du resume des produits -->
          <div class="grid-container" style="width: 49%; height: 100%;">
            <div class="row">
              <div class="col-md-8">
                  <h5>Tableau de répartition</h5>
                  <p>des abonnés par produit</p>
              </div>
              <div class="col-md-4">
                <div class="choice-date">
                    <input id="periode" type="date" id="start" name="trip-start"
                        value=""
                        min="2022-01-01" max="">
                </div>
              </div>
            </div>
            <div id="data" style="height: 80%" class="ag-theme-material">
            </div>
          </div>
          <!-- Fin Datbleau du resume des produits -->
      </div>
    
      <div style="height: 550px;" class="grid-container" >
        <div class="row">
          <div class="col-md-9">
            <h5>Information</h5>
            <p>Clients à abonner</p>
          </div>
          <div class="col-md-3">
            <div style="margin: 10px 0">
                <button type="button" class="btn btn-csv" onclick="onBtnExport()">Télechagez</button>
            </div>
          </div>
        </div>

        <div id="nonAb" style="height: 90%" class="ag-theme-material">
        </div>
      </div>
    </div>
    
  </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% include "suivi_produits/includes/script.html" %}
<script src="/static/js/utils-grid.js"></script>
{% include "suivi_produits/includes/grid.html" %}
{% include "suivi_produits/includes/grid-chart.html" %}
<script src="/static/js/grid.js"></script>

{% endblock javascripts %}