{% extends 'finlab/elements/layouts/admin.html' %}

{% load static %}

{% block additional_css %}
{% endblock %}

{% block message %}
{% include 'finlab/elements/alert.html' %}
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-12">
		<div class="row">
			<div class="col-xl-12">
				<div class="page-titles">
					<div class="d-flex align-items-center">
						<h2 class="heading">Chart Moorris</h2>
						<!-- <p class="text-warning ms-2">Welcome Back Yatin Sharma !</p> -->
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Donught Chart</h4>
					</div>
					<div class="card-body">
						<div id="morris_donught" class="morris_chart_height"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Line Chart</h4>
					</div>
					<div class="card-body p-0">
						<div id="morris_line" class="morris_chart_height"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Bar Chart</h4>
					</div>
					<div class="card-body">
						<div id="morris_bar" class="morris_chart_height"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Line Chart</h4>
					</div>
					<div class="card-body">
						<div id="line_chart_2" class="morris_chart_height"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Bar Chart</h4>
					</div>
					<div class="card-body">
						
						<div id="morris_bar_stalked" class="morris_chart_height"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Area Chart</h4>
					</div>
					<div class="card-body">
						<div id="morris_area" class="morris_chart_height"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block additional_js %}

{% endblock %}